# Stripe Zahlungsintegration
# Erhältlich unter: https://dashboard.stripe.com/apikeys
STRIPE_SECRET_KEY=your-stripe-secret-key

# OMDb Film-API
# Kostenloser Key unter: https://www.omdbapi.com/apikey.aspx
OMDB_API_KEY=your-omdb-api-key

# Öffentliche URL der App (für Stripe Redirect)
    #Windows -> http://localhost:8080
    #Mac -> http://127.0.0.1:8050
APP_URL=http://...

# Server-Port
    #Windows -> 8080
    #Mac -> 8050
PORT=XXXX